body{
    width: 100%;
    height: 100vh;
}

#matrix{
    background:black;
    /* display: flex;
    flex-wrap: wrap; */
    /* con este width y height tomará toda la pantalla y dara efecto responsive */
    width: 100%;
    height: 100vh;
}

#matrix-color{
    position: absolute;
    left: 0;
    top:0;
}